/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  top: 0;
}

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full dark:text-gray-100 dark:bg-slate-800 border-gray-300/20 font-semibold rounded ring-0 focus:ring-1 focus:border-blue-500;
  }
  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-300 rounded text-indigo-600 focus:ring-indigo-500;
  }
}

@layer components {
  .text-color-header {
    @apply text-blue-500 dark:text-blue-500;
  }
  .text-color-subheader {
    @apply text-gray-700 dark:text-blue-300
  }
  .text-color-paragraph {
    @apply text-gray-600 dark:text-gray-200
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}